.dark-theme {
  --surface-100: #18181D;
  --surface-200: #212128;
  --surface-300: #31313B;
  --surface-400: #424250;
  --onsurface-100: #FFFFFF;
  --onsurface-200: #F9F9F9;
  --onsurface-300: #CBC8CB;
  --onsurface-400: #424250;
  --accent-100: #5D51C6;
  --accent-200: #5246C2;
  --accent-300: #4A3DBC;
  --information-success-100: #64DCB8;
  --information-onsuccess-100: #18181D;
  --information-warning-100: #FFB96F;
  --information-onwarning-100: #18181D;
  --information-error-100: #F34B73;
  --information-onerror-100: #FFFFFF;
  --interaction-primary-initial: #5246C2;
  --interaction-primary-hover: #4A3DBC;
  --interaction-primary-pressed: #453AB0;
  --interaction-primary-disabled: #424250;
  --interaction-onprimary-initial: #FFFFFF;
  --interaction-onprimary-hover: #FFFFFF;
  --interaction-onprimary-pressed: #FFFFFF;
  --interaction-onprimary-disabled: #E6E5E6;
  --interaction-secondary-initial: #FFFFFF;
  --interaction-secondary-hover: #F9F9F9;
  --interaction-secondary-pressed: #EEEDEE;
  --interaction-secondary-disabled: #D5D2D5;
  --interaction-onsecondary-initial: #FFFFFF;
  --interaction-onsecondary-hover: #F9F9F9;
  --interaction-onsecondary-pressed: #EEEDEE;
  --interaction-onsecondary-disabled: #D5D2D5;
  --uicolor-dark-100: #0A0A0C;
  --uicolor-dark-200: #212128;
  --uicolor-dark-300: #31313B;
  --uicolor-dark-400: #424250;
  --uicolor-light-100: #FFFFFF;
  --uicolor-light-200: #F9F9F9;
  --uicolor-light-300: #E6E5E6;
  --uicolor-light-400: #CBC8CB;
  --uicolor-gradient-sunrise: linear-gradient(180deg, #032447 17.56%, #594F62 53.8%, #FFADAB 100%);
  --uicolor-gradient-sunnymorning: linear-gradient(120deg, #E1BB89 13.4%, #D89CB0 44.66%, #AB88BE 64.87%, #7D7BD1 86.6%);;
  --uicolor-gradient-purple: linear-gradient(126.63deg, #2C2297 0%, #4E1A82 99.34%);
  --uicolor-gradient-colorpop: linear-gradient(152deg, #f5e6b8 0%, #ffce70 27%, #eba06a 52%, #c084ef 79%, #8eadfe 100%);
  --uicolor-gradient-black: linear-gradient(180deg, #00000027 0%, #00000099 100%);
}