.global-theme {
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;
  --space-4xl: 80px;
  --space-5xl: 104px;
  --space-6xl: 176px;
  --size-xxs: 4px;
  --size-xs: 8px;
  --size-sm: 12px;
  --size-md: 16px;
  --size-lg: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;
  --size-3xl: 64px;
  --size-4xl: 80px;
  --size-5xl: 104px;
  --size-6xl: 176px;
  --emphasis-full: 100%;
  --emphasis-high: 80%;
  --emphasis-medium: 60%;
  --emphasis-low: 30%;
  --emphasis-subtle: 20%;
  --radii-xs: 4px;
  --radii-sm: 8px;
  --radii-md: 16px;
  --radii-lg: 24px;
  --radii-xl: 32px;
  --radii-full: 999px;
  --radii-2xl: 44px;
  --border-width-xs: 1px;
  --border-width-sm: 2px;
  --font-families-brand: Suisse Int'l;
  --line-heights-4xl: 96px;
  --line-heights-3xl: 68px;
  --line-heights-2xl: 56px;
  --line-heights-xl: 44px;
  --line-heights-lg: 40px;
  --line-heights-md: 32px;
  --line-heights-sm: 28px;
  --line-heights-xs: 24px;
  --line-heights-xxs: 20px;
  --font-weights-medium: Medium;
  --font-weights-bold: Bold;
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 28px;
  --font-size-2xl: 40px;
  --font-size-3xl: 56px;
  --font-size-4xl: 80px;
  --letter-spacing-xs: -2%;
  --letter-spacing-sm: -1%;
  --letter-spacing-md: 2%;
  --letter-spacing-lg: 12%;
  --typography-headlines-level01: [object Object];
  --typography-headlines-level02: [object Object];
  --typography-headlines-level03: [object Object];
  --typography-headlines-level04: [object Object];
  --typography-headlines-level05: [object Object];
  --typography-bodytext-lg: [object Object];
  --typography-bodytext-md: [object Object];
  --typography-bodytext-sm: [object Object];
  --typography-bodytext-xs: [object Object];
  --typography-labels-lg: [object Object];
  --typography-labels-md: [object Object];
  --typography-labels-sm: [object Object];
  --colors-black-100: #0A0A0C;
  --colors-black-200: #0E0E11;
  --colors-black-300: #18181D;
  --colors-black-400: #212128;
  --colors-black-500: #2A2A33;
  --colors-black-600: #31313B;
  --colors-black-700: #383844;
  --colors-black-800: #3F3F4C;
  --colors-black-900: #424250;
  --colors-white-100: #FFFFFF;
  --colors-white-200: #FDFDFD;
  --colors-white-300: #F9F9F9;
  --colors-white-400: #F5F5F5;
  --colors-white-500: #EEEDEE;
  --colors-white-600: #E6E5E6;
  --colors-white-700: #DFDDDF;
  --colors-white-800: #D5D2D5;
  --colors-white-900: #CBC8CB;
  --colors-purple-100: #5D51C6;
  --colors-purple-200: #5246C2;
  --colors-purple-300: #4A3DBC;
  --colors-purple-400: #453AB0;
  --colors-purple-500: #3C3299;
  --colors-purple-600: #332B82;
  --colors-purple-700: #2A236B;
  --colors-purple-800: #1F1A50;
  --colors-purple-900: #151135;
  --colors-green-100: #89E5C9;
  --colors-green-200: #7DE2C3;
  --colors-green-300: #64DCB8;
  --colors-green-400: #4BD7AC;
  --colors-green-500: #32D1A1;
  --colors-green-600: #29B68C;
  --colors-green-700: #229975;
  --colors-green-800: #1F8B6A;
  --colors-green-900: #1C7C5F;
  --colors-yellow-100: #FFCD98;
  --colors-yellow-200: #FFC384;
  --colors-yellow-300: #FFB96F;
  --colors-yellow-400: #FFAF5B;
  --colors-yellow-500: #FFA342;
  --colors-yellow-600: #FF9628;
  --colors-yellow-700: #FF901B;
  --colors-yellow-800: #FF8A0F;
  --colors-yellow-900: #FF8302;
  --colors-red-100: #F67B98;
  --colors-red-200: #F46386;
  --colors-red-300: #F34B73;
  --colors-red-400: #F13361;
  --colors-red-500: #EF164B;
  --colors-red-600: #D80F40;
  --colors-red-700: #CA0E3B;
  --colors-red-800: #BB0D37;
  --colors-red-900: #AD0C33;
  --colors-gradient-purple: linear-gradient(286.78deg, #B08CE5 10.94%, #6D86F4 129.96%), #FFFFFF;
  --colors-gradient-sunnymorning: linear-gradient(286.78deg, #997AC8 10.94%, #5369CA 129.96%), #FFFFFF;
  --colors-gradient-colorpop: linear-gradient(286.78deg, #8669B0 10.94%, #475BB4 129.96%), #FFFFFF;
  --colors-gradient-sunrise: linear-gradient(286.78deg, #634B86 10.94%, #314081 129.96%), #FFFFFF;
  --colors-gradient-black: linear-gradient(180deg, #00000027 0%, #00000099 100%);
  --elevation-sm: [object Object];
  --elevation-md: [object Object];
  --elevation-lg: [object Object];
  --elevation-xl: [object Object];
  --elevation-2xl: [object Object];
}