.light-theme {
  --surface-100: #F7F6F9;
  --surface-200: #FFFFFF;
  --surface-300: #F7F6F9;
  --surface-400: #FFFFFF;
  --onsurface-100: #0A0A0C;
  --onsurface-200: #212128;
  --onsurface-300: #31313B;
  --onsurface-400: #C3BCD2;
  --accent-100: #774BDB;
  --accent-200: #5627C2;
  --accent-300: #4B22A9;
  --information-success-100: #29B68C;
  --information-onsuccess-100: #FFFFFF;
  --information-warning-100: #FF9628;
  --information-onwarning-100: #FFFFFF;
  --information-error-100: #D80F40;
  --information-onerror-100: #FFFFFF;
  --interaction-primary-initial: #774BDB;
  --interaction-primary-hover: #774BDB;
  --interaction-primary-pressed: #6431D6;
  --interaction-primary-disabled: #424250;
  --interaction-onprimary-initial: #FFFFFF;
  --interaction-onprimary-hover: #FFFFFF;
  --interaction-onprimary-pressed: #FFFFFF;
  --interaction-onprimary-disabled: #D4CEDF;
  --interaction-secondary-initial: #FFFFFF;
  --interaction-secondary-hover: #F7F6F9;
  --interaction-secondary-pressed: #EFEDF3;
  --interaction-secondary-disabled: #D4CEDF;
  --interaction-onsecondary-initial: #FFFFFF;
  --interaction-onsecondary-hover: #F7F6F9;
  --interaction-onsecondary-pressed: #EFEDF3;
  --interaction-onsecondary-disabled: #D4CEDF;
  --uicolor-dark-100: #0A0A0C;
  --uicolor-dark-200: #212128;
  --uicolor-dark-300: #3F3F4C;
  --uicolor-dark-400: #C3BCD2;
  --uicolor-light-100: #FFFFFF;
  --uicolor-light-200: #F7F6F9;
  --uicolor-light-300: #E4E1EB;
  --uicolor-light-400: #CEC8DB;
  --uicolor-gradient-sunrise: linear-gradient(90deg, #032447 17.56%, #594F62 53.8%, #FFADAB 100%);
  --uicolor-gradient-sunnymorning: linear-gradient(120deg, #F1CA98 0%, #E7BDCB 31.92%, #C0A1D1 66.35%, #857CC8 100%);
  --uicolor-gradient-purple: linear-gradient(55deg, #998AEB 0%, #B18CE5 100%);
  --uicolor-gradient-colorpop: linear-gradient(152deg, #f5e6b8 0%, #ffce70 27%, #eba06a 52%, #c084ef 79%, #8eadfe 100%);
  --uicolor-gradient-black: linear-gradient(90deg, #00000000 0%, #00000080 99.11%);
}