.light-theme {
  --surface-100: $colors.white.100;
  --surface-200: $colors.white.300;
  --surface-300: $colors.white.500;
  --surface-400: $colors.white.700;
  --onsurface-100: $colors.black.100;
  --onsurface-200: $colors.black.400;
  --onsurface-300: $colors.white.900;
  --onsurface-400: $colors.white.500;
  --accent-100: $colors.purple.300;
  --accent-200: $colors.purple.500;
  --accent-300: $colors.purple.700;
  --information-success-100: $colors.green.600;
  --information-onsuccess-100: $colors.white.100;
  --information-warning-100: $colors.yellow.600;
  --information-onwarning-100: $colors.white.100;
  --information-error-100: $colors.red.600;
  --information-onerror-100: $colors.white.100;
  --interaction-primary-initial: $colors.purple.300;
  --interaction-primary-hover: $colors.purple.300;
  --interaction-primary-pressed: $colors.purple.400;
  --interaction-primary-disabled: $colors.black.900;
  --interaction-onprimary-initial: $colors.white.100;
  --interaction-onprimary-hover: $colors.white.100;
  --interaction-onprimary-pressed: $colors.white.100;
  --interaction-onprimary-disabled: $colors.white.600;
  --interaction-secondary-initial: $colors.white.100;
  --interaction-secondary-hover: $colors.white.200;
  --interaction-secondary-pressed: $colors.white.300;
  --interaction-secondary-disabled: $colors.white.600;
  --interaction-onsecondary-initial: $colors.white.100;
  --interaction-onsecondary-hover: $colors.white.200;
  --interaction-onsecondary-pressed: $colors.white.300;
  --interaction-onsecondary-disabled: $colors.white.600;
  --uicolor-dark-100: $colors.black.100;
  --uicolor-dark-200: $colors.black.700;
  --uicolor-dark-500: $colors.white.900;
  --uicolor-dark-600: $colors.white.500;
  --uicolor-light-100: $colors.white.100;
  --uicolor-light-300: $colors.white.300;
  --uicolor-light-500: $colors.white.500;
  --uicolor-light-600: $colors.white.700;
  --uicolor-gradient-sunrise: $colors.gradient.sunrise;
  --uicolor-gradient-sunnymorning: $colors.gradient.sunnymorning;
  --uicolor-gradient-purple: $colors.gradient.purple;
  --uicolor-gradient-colorpop: $colors.gradient.colorpop;
  --uicolor-gradient-black: $colors.gradient.black;
}