.light-theme {
  --surface-100: #F9F9F9;
  --surface-200: #FFFFFF;
  --surface-300: #F5F5F5;
  --surface-400: #D5D2D5;
  --onsurface-100: #0A0A0C;
  --onsurface-200: #212128;
  --onsurface-300: #424250;
  --onsurface-400: #CBC8CB;
  --accent-100: #4A3DBC;
  --accent-200: #3C3299;
  --accent-300: #2A236B;
  --information-success-100: #29B68C;
  --information-onsuccess-100: #FFFFFF;
  --information-warning-100: #FF9628;
  --information-onwarning-100: #FFFFFF;
  --information-error-100: #D80F40;
  --information-onerror-100: #FFFFFF;
  --interaction-primary-initial: #4A3DBC;
  --interaction-primary-hover: #4A3DBC;
  --interaction-primary-pressed: #453AB0;
  --interaction-primary-disabled: #424250;
  --interaction-onprimary-initial: #FFFFFF;
  --interaction-onprimary-hover: #FFFFFF;
  --interaction-onprimary-pressed: #FFFFFF;
  --interaction-onprimary-disabled: #E6E5E6;
  --interaction-secondary-initial: #FFFFFF;
  --interaction-secondary-hover: #D5D2D5;
  --interaction-secondary-pressed: #CBC8CB;
  --interaction-secondary-disabled: #CBC8CB;
  --interaction-onsecondary-initial: #FFFFFF;
  --interaction-onsecondary-hover: #D5D2D5;
  --interaction-onsecondary-pressed: #CBC8CB;
  --interaction-onsecondary-disabled: #CBC8CB;
  --uicolor-dark-100: #0A0A0C;
  --uicolor-dark-200: #212128;
  --uicolor-dark-300: #31313B;
  --uicolor-dark-400: #424250;
  --uicolor-light-100: #FFFFFF;
  --uicolor-light-200: #F9F9F9;
  --uicolor-light-300: #E6E5E6;
  --uicolor-light-400: #CBC8CB;
  --uicolor-gradient-sunrise: linear-gradient(286.78deg, #634B86 10.94%, #314081 129.96%), #FFFFFF;
  --uicolor-gradient-sunnymorning: linear-gradient(120deg, #FFE3BE 13.4%, #F5C9D8 36.76%, #D6BCE4 61.97%, #B8AFFA 86.6%);
  --uicolor-gradient-purple: linear-gradient(126.47deg, #CDCFFF 0%, #D4BFFF 99.67%);
  --uicolor-gradient-colorpop: linear-gradient(286.78deg, #8669B0 10.94%, #475BB4 129.96%), #FFFFFF;
  --uicolor-gradient-black: linear-gradient(180deg, #00000027 0%, #00000099 100%);
}